<div class="">
  <header class="text-center header align-items-center w-100 medication px-4 text-light d-flex justify-content-between">
    <p class="mb-0"> <%= link_to '<i class="text-white fa-solid fa-arrow-left"></i>'.html_safe, user_path(current_user) %></p>
    <div class="mb-0 mx-auto d-flex align-items-center text-white">
      <%= svg_tag "Symptom", class: "form-icon"%>
      <span class="ml-5">Symptom</span>
    </div>
  </header>

  <div class="containers">
    <div id="symptoms">
      <% @symptoms.each do |symptom| %>
        <%= render symptom %>
        
      <% end %>
    </div>
  </div>

  <div class="bg-white"><%#= pie_chart Symptom.group_by_day(:created_at).count %></div>
</div>

