<div class="sign-head" data-target="view.analysis">
  <div class="bg-white d-flex flex-column align-items-center justify-content-center">
    <%= svg_tag 'coming_soon' %>
    <p>Coming Soon</p>
  </div>

<div class="add-item">
  <div class="add">
    <%= link_to '<i class="text-white fa-solid fa-plus"></i>'.html_safe, entries_index_path, class: "go-to-entries position-fixed border-0"%>
  </div>
</div>