<div class="down-margin">
    <header class="text-center header align-items-center w-100 medication px-4 text-light d-flex justify-content-between">
    <p class="mb-0"> <%= link_to '<i class="text-white fa-solid fa-arrow-left"></i>'.html_safe, timeline_path %></p>
    <p class="mb-0 mx-auto d-flex align-items-center text-white">
      <%= svg_tag "Medication", class: "form-icon"%>
      <span>Medication</span>
    </p>
  </header>

  <div class="position-relative">
    <div id="medications">
      <% @medications.each do |medication| %>
        <%= render medication %>
      <% end %>
    </div>
  </div>
</div>

