<header class="text-center header w-100 medication px-4 text-light d-flex justify-content-between align-items-center">
  <p class="mb-0"> <%= link_to '<i class="text-white fa-solid fa-arrow-left"></i>'.html_safe, timeline_path %></p>
  <p class="mb-0 mx-auto d-flex align-items-center text-white">
    <%= svg_tag "Food", class: "form-icon"%>
    <span>Meal/Food</span>
  </p>
</header>
<div id="foods">
  <% @foods.each do |food| %>
    <%= render food %>
  <% end %>
</div>

