.hoverWrapper .hoverContent {
  display: none;
  position: absolute;
  z-index: 5;
  top: 65%;
}

.hoverWrapper:hover .hoverContent {
  display: block;
}

.deletebtn *,
.editbtn {
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-weight: 700;
}

.deletebtn {
  width: 100%;
}

.deletebtn * {
  color: #f44336;
  background: none;
}

.editbtn {
  color: #008080;
  text-align: center;
  margin-right: 3px;
}

.editbtn:hover {
  color: #008080;
}

.card-action {
  width: 30%;
  box-shadow: 0 0 10px 0 rgba(0,0,0, .35);
  background:#fff;
  color: #507162;
  padding: 1rem;
}

.card__text {
  margin: 0;
}

.card__text {
  text-align: right;
}