  .Hero {
    background-color: #008080;
    /* background: linear-gradient(#47cc76,#6AD1BE,#40B4C7); */
    background-size: cover;
    background-repeat: 'no-repeat';
    color: #32325d;
  }

  .error {
    list-style: none;
  }

  .entries a {
    color: #32325d;
  }

  .view {
    left: 10.5%;
    top: 38%;
  }

  .action-btn {
    left: 13%;
    bottom: -2px;
    width: 10%;
    color: #32325d;
  }

.action-btn a {
  color: #32325d;
}

  .item-cont,
  .Hero {
    position: relative;
  }

  .cancel,
  .add {
    position: absolute;
    bottom: 30px;
    right: 30px;
  }

  .cancel .fa-xmark {
    display: inline-block;
    color: #fff;
    border-radius: 50%;
    background-color: rgb(64, 180, 190);
    width: 40px;
    height: 40px;
    padding: 10px;
    font-weight: 100;
  }

  .para {
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .learn {
    background-color: rgb(255, 255, 255);
    color: rgb(247, 129, 4);
    border: 0;
    border-radius: 30px;
    padding: 1rem 1.5rem;
    font-weight: 700;
  }

  .view-features {
    background-color: transparent;
    color: rgb(247, 129, 4);
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 1rem 1.5rem;
    font-weight: 700;
  }

  .welcome {
    margin-top: 4rem;
    min-height: 70vh;
  }

  .get-start {
    color: white;
    border: 1px solid white;
    background-color: #F78104;
    border-radius: 30px;
    padding: 1rem 1.5rem;
    font-weight: 700;
  }

.bgPr {
  background-color: #368c9a;
  padding: 5rem 0;
}

  .get-start:hover{
    color: #fff;
  }

  .submit {
    color: white;
    border: 1px solid white;
    background-color: #40b4c7;
    border-radius: 30px;
    padding: 0.5rem 1.5rem;
    font-weight: 700;
    box-shadow:
      0 0.06875rem 0.0875rem rgb(4, 9, 20 / 3%),
      0 0.0375rem 0.10625rem rgb(4, 9, 20 / 3%),
      0 0.05rem 0.03125rem rgb(4, 9, 20 / 5%),
      0 0.025rem 0.0875rem rgb(4, 9, 20 / 3%);
  }

  .cancel-button {
    color: #40b4c7;
    font-weight: 700;
  }

  .navbar-main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
    height: 75px;
  }

  .footer {
    padding: 6rem 0;
    background-color: #40b4c7;
    color: #fff;
  }

  .footer p {
    color: #fff;
  }

  .logo {
    width: 147px;
    height: 25;
  }

  .third {
    background-color: #d9d9d9;
  }
  
  .login {
    color: #32325d;
    border: none;
    font-weight: 700;
    background: transparent;
  }


h2, h3 {
  color: #32325D;
}
h6 {
  color: #F78104;
}

.bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 500;
  background-color: #fff 
}

.items,
.name {
  border-bottom: 1px solid rgb(217, 217, 217);
}

.fa-arrow-left {
  font-size: 1.5rem;
}

.account {
  border-top: 1px solid rgb(217, 217, 217);
}

.time-insight {
  color: #32325d;
}

.items:nth-child(5) {
  border: none;
}

.bars {
  position: relative;
}

.bar {
  font-size: 2rem;
}

.bars button {
  background: transparent;
  margin-left: auto;
  margin-right: 30px;
}

#Home p {
  font-size: 18px;
}

.nav-link.active {
  text-decoration: underline;
}

.form-icon {
  margin-right: 10px;
}

.header {
  background-color: #008080;
  height: 65px;
}

a:hover {
  color: unset;
}

.image-tag {
  height: max-content;
}

.cell {
  top: -50px;
}

.para {
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

a {
  text-decoration: none;
}

.people {
  position: absolute;
  max-width: 100%;
  bottom: 0;
  right: -5%;
}

.people-img {
  width: 100%;
}

.second p {
  line-height: 2em;
}

.third  p {
  line-height: 2.5em;
  color: #32325d;
}

.fourth p {
  line-height: 2em;
}

.medication {
  background-color: #008080;
}

h3,
h6 {
  font-weight: 700;
}

h3 {
  font-size: 36px;
}

h6 {
  font-size: 20px;
}

.how-it-works {
  margin-top: 25rem;
}

@media screen and (max-width: 768px) {
  h3,
  h6 {
  font-size: 18px;
  }
}

/* min-height: width >= 575 ? 75vh : 60vh,  */
