  .Hero {
    background-color: #008080;
    /* background: linear-gradient(#47cc76,#6AD1BE,#40B4C7); */
    background-size: cover;
    background-repeat: 'no-repeat';
    color: #32325d;
  }

  .item-cont,
  .Hero {
    position: relative;
  }

  .cancel,
  .add {
    position: absolute;
    bottom: 30px;
    right: 30px;
  }

  .cancel .fa-xmark {
    display: inline-block;
    color: #fff;
    border-radius: 50%;
    background-color: rgb(64, 180, 190);
    width: 40px;
    height: 40px;
    padding: 10px;
    font-weight: 100;
  }

  .para {
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .learn {
    background-color: rgb(255, 255, 255);
    color: rgb(247, 129, 4);
    border: 0;
    border-radius: 30px;
    padding: 1rem 1.5rem;
    font-weight: 700;
  }

  .view-features {
    background-color: transparent;
    color: rgb(247, 129, 4);
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 1rem 1.5rem;
    font-weight: 700;
  }

  .welcome {
    margin-top: 5rem;
    min-height: 70vh;
  }

  .get-start {
    color: white;
    border: 1px solid white;
    background-color: #F78104;
    border-radius: 30px;
    padding: 1rem 1.5rem;
    font-weight: 700;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
  }

  .footer {
    padding: 6rem 0;
    background-color: #40b4c7;
    color: #fff;
  }

  .footer p {
    color: #fff;
  }

  .logo {
    width: 150px;
    height: 40;
  }

  .third {
    background-color: #d9d9d9;
  }
  
  .login {
    color: #32325d;
    border: none;
    font-weight: 700;
    padding: 1rem 1.5rem;
    background: transparent;
  }


  h2, h3 {
    color: #32325D;
}
h6 {
    color: #F78104;
    font-weight: 800;
}

.bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 500;
  background-color: #fff 
}

.items {
  border-bottom: 1px solid rgb(217, 217, 217);
}

.time-insight {
  color: #32325d;
}

.items:nth-child(5) {
  border: none;
}

.bars {
  font-size: 2.5rem;
}

.nav-link.active {
  text-decoration: underline;
}

.header {
  background-color: #008080;
}

a:hover {
  color: unset;
  }

.para {
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  text-align: center;
}

a {
  text-decoration: none;
}

.people {
  position: absolute;
  max-width: 100%;
  bottom: 0;
  right: -5%;
}

.people-img {
  width: 100%;
}

.second p {
  line-height: 2em;
}

.third  p {
  line-height: 2.5em;
  color: #32325d;
}

.fourth p {
  line-height: 2em;
}

.medication {
  background-color: #008080;
}