<div style="background-color: #fff" class='py-5 text-dark'>
  <div class='container d-flex flex-column flex-md-row'>
    <div class='col-12 col-md-4'>
      <ul class='list-unstyled ps-0'>
        <div class='d-flex justify-content-center justify-content-md-start'>
        <%= link_to (svg_tag "Logo"),root_path, class: "logo w-100 h-100"%>
      </div>
      </ul>
    </div>
    <div class='col-12 col-md-4'>
      <ul class='list-unstyled ps-0'>
        <li class='mb-2'>About Us</li>
        <li>Privacy Policy</li>
      </ul>
    </div>
    <div class='col-12 col-md-4 d-flex flex-column flex-md-row'>
      <p class='mb-0'>Copywright 2022</p> <p><span class='mt-3 mt-md-0 ms-md-3'><%= link_to "healthscribe.com" %></span> </p>
    </div>
  </div>
</div>