 <div class="bottom py-5 text-dark">
      <div class="container d-flex flex-column flex-md-row">
        <div class="col-12 col-md-4">
          <ul class="list-unstyled ps-0">
            <div>
              <%= link_to (svg_tag "Logo"),root_path, class: "logo"%>
          </div>
          </ul>
        </div>
        <div class="col-12 col-md-4">
        <ul class="list-unstyled ps-0">
            <li class="mb-2">About Us</li>
            <li>Privacy Policy</li>
          </ul>
        </div>
        <div class="col-12 col-md-4">
          <p class="mb-0">Copywright 2022 HealthScribe.netifly.com</p>
        </div>
      </div>
    </div>