<div class="menu bars">
  <div class="w-100 py-2 header d-flex align-items-center">
    <button  class="">
      <%= link_to 'open modal', popup_path, class: "text-white view-features", data: { turbo_frame: 'modal' } %>
    </button>
  </div>
    
</div>